@import url("styles/header.css");
@import url("styles/banner.css");


:root{
    --cor-de-funfo: rgba(156, 11, 11, 0.87);
    --cor-do-cabecalho: rgb(255, 255, 255);
    --cor-do-menu: rgb(153, 42, 42, 0.801);
}
body{background-color: var(--cor-de-funfo);}