@import url("styles/header.css");


:root{
    --cor-de-funfo: rgb(250, 250, 250);
    --cor-do-cabecalho: rgba(153, 42, 42, 0.801);
    --cor-do-menu: rgb(3, 3, 3);
}
body{background-color: var(--cor-de-funfo);}