.banner {
    background: red(153, 7, 7)
    color: var(--vermelho);
    text-align: center;
    padding: 2.5em 2em;
  }

  .banner-titulo {
    font-size: 38px;
    font-weight: 700;
    color: white;
  }

  .banner-texto {
    font-size: 20px;
    font-weight: 500;
    margin: 1em 0;
    color: white;
  }

  .banner-pesquisa {
    background-color: transparent;
    border: 1px solid white;
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
    font-size: 18px;
    text-align: center;
    width:70vw
  }
